# KAOS_VERSION: v0.95
#####################################################################
# KAOS: SCREWS_TILT_CALCULATE
#####################################################################
# Used to manually adjust all four screws to be level.


# Wrap SCREWS_TILT_CALCULATE to home first using trusted-home state
[gcode_macro SCREWS_TILT_CALCULATE]
description: Auto-home if needed then run base SCREWS_TILT_CALCULATE; renames base to _SCREWS_TILT_CALCULATE
rename_existing: _SCREWS_TILT_CALCULATE
gcode:
    ; Screws tilt probing should require a real trusted home, not merely recovery authorization.
    {% if printer["gcode_macro _TRUSTED_HOME"].xyz|int != 1 %}
        _KAOS_LOG LEVEL=2 CATEGORY=LEVELING MSG="SCREWS_TILT_CALCULATE: trusted XYZ not set, calling PG28"
        PG28
    {% else %}
        _KAOS_LOG LEVEL=3 CATEGORY=LEVELING MSG="SCREWS_TILT_CALCULATE: trusted XYZ already set, skipping PG28"
    {% endif %}
    _KAOS_SAFETY_MODE_REQUIRE_PHYSICAL_TRUSTED_XYZ NAME="KAOS calibration/probing command"

    _SCREWS_TILT_CALCULATE


  
[screws_tilt_adjust]
screw1:
    30, 30
screw1_name:
  front_left
screw2:
    270, 30
screw2_name:
  front_right
screw3:
  270, 270
screw3_name:
  rear_right
screw4:
  30, 270
screw4_name:
  rear-left
speed: 150
horizontal_move_z: 10
screw_thread: CW-M4
