# KAOS_VERSION: v0.95
#####################################################################
; Sound notifications using Arco board buzzer
#####################################################################
[output_pin beeper]
pin: PB2
value: 0
shutdown_value: 0
pwm: True
cycle_time: 0.005  # Default beeper tone in kHz. 1 / 0.0005 = 1000Hz (2kHz)


[delayed_gcode startup_beep]
# Runs after KAOS_LOAD_PERSISTED_SETTINGS so persisted startup sound setting is applied first.
initial_duration: 3.0
gcode:
  {% set cfg = printer["gcode_macro _USER_CONFIG"] %}
  {% if cfg.enable_startup_beep|int == 1 %}
    SET_PIN PIN=beeper VALUE=0.2
    G4 P25
    SET_PIN PIN=beeper VALUE=0
    G4 P100
    SET_PIN PIN=beeper VALUE=0.1
    G4 P50
    SET_PIN PIN=beeper VALUE=0
  {% endif %}


[gcode_macro KAOS_BEEP_NOTIFY]
description: Play a tone on the beeper
gcode:
    {% set pin = params.PIN|default("beeper") %}
    SET_PIN PIN={pin} VALUE=0.4
    G4 P120
    SET_PIN PIN={pin} VALUE=0
    G4 P60
    SET_PIN PIN={pin} VALUE=0.25
    G4 P250
    SET_PIN PIN={pin} VALUE=0
    G4 P100
    SET_PIN PIN={pin} VALUE=0.5
    G4 P80
    SET_PIN PIN={pin} VALUE=0

