# KAOS_VERSION: v0.95
#####################################################################
# KAOS: Debug helpers
#####################################################################
[gcode_macro DEBUG_TRUST]
description: Print current trusted-home state (XY/Z/XYZ) for diagnostics
gcode:
    KAOS_LOG LEVEL=INFO SOURCE=KAOS CATEGORY=TRUST KEY=trusted_xy MSG="Trusted XY={printer['gcode_macro _TRUSTED_HOME'].xy}"
    KAOS_LOG LEVEL=INFO SOURCE=KAOS CATEGORY=TRUST KEY=trusted_z MSG="Trusted Z={printer['gcode_macro _TRUSTED_HOME'].z}"
    KAOS_LOG LEVEL=INFO SOURCE=KAOS CATEGORY=TRUST KEY=trusted_xyz MSG="Trusted XYZ={printer['gcode_macro _TRUSTED_HOME'].xyz}"
    KAOS_LOG LEVEL=INFO SOURCE=KAOS CATEGORY=TRUST KEY=klipper_homed_axes MSG="Klipper homed_axes={printer.toolhead.homed_axes}"

#####################################################################
